page-roplant-map {
    #map{
        width: 100%;
        height: 100%;
    }
    .right-align-btn{
        float:right; /* shift to right for alignment*/
      }
      .icon-image-size30{
        font-size: 30px;
      }

}
